{% extends 'pages/base.html' %}
{% load static %}
{% block title %}
    Customer Info
{% endblock title %}
{% block content %}
    <div class="container">
{#        <button class="btn btn-primary" id="edit_button" type="button"></button>#}
        <a href="{% url 'accounts:edit-user' user_info.pk %}" class="btn btn-primary">ویرایش</a>
        <h2>اطلاعات فردی</h2>
        <br>
        <div class="row">
            {#            <div class="col-6">#}
            {#                <label for="name"> نام کاربری</label>#}
            {#                <input type="text" id="username"  readonly value="name">#}
            {#            </div>#}
            <div class="col">
                <span>نام کاربری</span>
                <span>{{ user }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="first_name">نام</label>
              <span>{{ user_info.first_name }}</span>
            </div>
            <div class="col-6">
                <label for="last_name">نام خانوادگی</label>
            <span> {{ user_info.last_name }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="gender">جنسیت</label>
             <span>{{ user_info.gender }}</span>
            </div>
            <div class="col-6">
                <label for="gender">آدرس منتخب</label>
             <span>{{ user_info.gender }}</span>
            </div>
        </div>

        <!-- Editable table -->
        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
                جدول آدرس ها
            </h3>
            <div class="card-body">
                <div id="table" class="table-editable">
{#      <span class="table-add float-right mb-3 mr-2">#}
{#          <a href="#!" class="text-success">#}
{#              <i class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>#}

                <!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
   <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">افزودن آدرس</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
              <form method="POST" action="{% url 'accounts:complete-info' %}">
                        {% csrf_token %}
          {{ form }}
        <button type="submit" class="btn btn-primary">افزودن</button>
         </form>
      </div>
      <div class="modal-footer">

                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>

      </div>
    </div>
  </div>
</div>


                    <table class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">استان</th>
                            <th scope="col">شهر</th>
                            <th scope="col">آدرس</th>
                            <th scope="col">کد پستی</th>
                            <th scope="col">تلفن</th>
                            <th scope="col">حذف</th>
                            <th scope="col">ویرایش</th>

                            {#            <th class="text-center">Person Name</th>#}
                            {#            <th class="text-center">Age</th>#}
                            {#            <th class="text-center">Company Name</th>#}
                            {#            <th class="text-center">Country</th>#}
                            {#            <th class="text-center">City</th>#}
                            {#            <th class="text-center">Sort</th>#}
                            {#            <th class="text-center">Remove</th>#}
                            {#          </tr>#}
                        </thead>

                        <tbody>
                        {% for obj in address %}

                            <tr>
                            <td class="pt-3-half">{{ forloop.counter }}</td>
                            <td class="pt-3-half">{{ obj.province }}</td>
                            <td class="pt-3-half">{{ obj.city }}</td>
                            <td class="pt-3-half">{{ obj.address }}</td>
                            <td class="pt-3-half">{{ obj.postal_code }}</td>
                            <td class="pt-3-half">{{ obj.phone_number }}</td>

                            {#            <td class="pt-3-half">#}
                            {#              <span class="table-up"#}
                            {#                ><a href="#!" class="indigo-text"#}
                            {#                  ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a#}
                            {#              ></span>#}
                            {#              <span class="table-down"#}
                            {#                ><a href="#!" class="indigo-text"#}
                            {#                  ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a#}
                            {#              ></span>#}
                            {#            </td>#}
                            <td>
              <span class="table-remove">
{#                  <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">#}
{#                  پاک کردن#}
{#                </button>#}
                  <a href="{% url 'accounts:delete-address' obj.pk %}" class="btn btn-danger ">حذف</a>
              </span>
                            </td>
                            <td>
              <span class="table-remove">
                  <a href="{% url 'accounts:edit-address' obj.pk %}" class="btn btn-danger ">ویرایش</a>
              </span>

                            </td>

                        {% endfor %}

                        </tr>
                        {#          <!-- This is our clonable table line -->#}
                        {#          <tr>#}
                        {#            <td class="pt-3-half" contenteditable="true">Guerra Cortez</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">45</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">Insectus</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">USA</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">San Francisco</td>#}
                        {#            <td class="pt-3-half">#}
                        {#              <span class="table-up"#}
                        {#                ><a href="#!" class="indigo-text"#}
                        {#                  ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a#}
                        {#              ></span>#}
                        {#              <span class="table-down"#}
                        {#                ><a href="#!" class="indigo-text"#}
                        {#                  ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a#}
                        {#              ></span>#}
                        {#            </td>#}
                        {#            <td>#}
                        {#              <span class="table-remove"#}
                        {#                ><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">#}
                        {#                  Remove#}
                        {#                </button></span#}
                        {#              >#}
                        {#            </td>#}
                        {#          </tr>#}
                        {#          <!-- This is our clonable table line -->#}
                        {#          <tr>#}
                        {#            <td class="pt-3-half" contenteditable="true">Guadalupe House</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">26</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">Isotronic</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">Germany</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">Frankfurt am Main</td>#}
                        {#            <td class="pt-3-half">#}
                        {#              <span class="table-up"#}
                        {#                ><a href="#!" class="indigo-text"#}
                        {#                  ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a#}
                        {#              ></span>#}
                        {#              <span class="table-down"#}
                        {#                ><a href="#!" class="indigo-text"#}
                        {#                  ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a#}
                        {#              ></span>#}
                        {#            </td>#}
                        {#            <td>#}
                        {#              <span class="table-remove"#}
                        {#                ><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">#}
                        {#                  Remove#}
                        {#                </button></span#}
                        {#              >#}
                        {#            </td>#}
                        {#          </tr>#}
                        {#          <!-- This is our clonable table line -->#}
                        {#          <tr class="hide">#}
                        {#            <td class="pt-3-half" contenteditable="true">Elisa Gallagher</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">31</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">Portica</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">United Kingdom</td>#}
                        {#            <td class="pt-3-half" contenteditable="true">London</td>#}
                        {#            <td class="pt-3-half">#}
                        {#              <span class="table-up"#}
                        {#                ><a href="#!" class="indigo-text"#}
                        {#                  ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a#}
                        {#              ></span>#}
                        {#              <span class="table-down"#}
                        {#                ><a href="#!" class="indigo-text"#}
                        {#                  ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a#}
                        {#              ></span>#}
                        {#            </td>#}
                        {#            <td>#}
                        {#              <span class="table-remove"#}
                        {#                ><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">#}
                        {#                  Remove#}
                        {#                </button></span#}
                        {#              >#}
                        {#            </td>#}
                        {#          </tr>#}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Editable table -->
        <br>
        <br>
        <br>
        <h2>تاریخچه سفارشات</h2>

        {% for obj in history %}
            {% if obj.invoice_item %}

                <table class="table table-info table-striped">
                    <colgroup>
                        <col width="5%">
                        <col width="20%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">

                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">تصویر</th>
                        <th scope="col">محصول</th>
                        <th scope="col">تعداد</th>
                        <th scope="col">قیمت واحد</th>
                        {#                <th scope="col">قیمت با تخفیف</th>#}
                        {#            <th scope="col">price with discount</th>#}
                        {#                <th scope="col">مجموع</th>#}
                        <th scope="col">مجموع</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in obj.invoice_item %}
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        {#                            <td><img src="{{ item.items.image.url }}" class="card-img-top"></td>#}
                        <td> {% if item.items.image %}  <img src="{{ item.items.image.url }}" class="card-img-top">
                        {% else %} <img src="{% static 'my_img/0.png' %}" class="card-img-top"> {% endif %}</td>
                        <td>{{ item.items.name }} </td>
                        {#                                            <td>{{ item.quantity }}</td>#}
                        <td>
                            {#                                <form method="post" action="#">#}
                            {#                                    {{ item.items.update_quantity_form.quantity }}#}
                            {#                                    {{ item.items.update_quantity_form.override }} {{ item.update_quantity_form.quantity }}#}
                            {#                                    {{ item.quantity }}#}
                            {#                                    {% csrf_token %}#}
                            {#                                    <div class="row">#}
                            {#                                        <div class="col">#}
                            {#                                            <button type="submit">به روز کن#}
                            {#                                            </button>#}
                            {#                                        </div>#}
                            {#                                        <div class="col delete_input">#}
                            {#                                            <button type="button" class="btn btn-danger">پاک کردن متن ورودی</button>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </form>#}
                            {{ item.quantity }}


                        </td>
                        <td>{{ item.items.price }}</td>

                            <td>{{ item.get_total }}</td>

                    {% endfor %}
                    </tr>
             <td>مجموع</td>
          <td>  <span>{{ obj.total }}</span></td>
                    </tbody>
                </table>






            {% endif %}


            {#    <span>{{  }}</span>#}
        {% endfor %}

        {##}
        {#        <button class="btn btn-light" id=add_address" type="button">افزودن آدرس</button>#}
        {#        <table class="table table-info table-striped">#}
        {#            <thead>#}
        {#            <tr>#}
        {#                <th scope="col">#</th>#}
        {#                <th scope="col">استان</th>#}
        {#                <th scope="col">شهر</th>#}
        {#                <th scope="col">آدرس</th>#}
        {#                <th scope="col">کد پستی</th>#}
        {#                <th scope="col">تلفن</th>#}
        {#                <th scope="col">حذف</th>#}
        {#                <th scope="col">آدرس منتخب</th>#}
        {#            </tr>#}
        {#            </thead>#}
        {#            <tbody id="address_table">#}
        {##}
        {#            Hi = {{ user }}#}
        {#            {% for obj in object.inf_address %}#}
        {#                <tr>#}
        {#                    <th scope="row">{{ forloop.counter }}</th>#}
        {#                    <td>{{ obj.province }}</td>#}
        {#                    <td>{{ obj.city }}</td>#}
        {#                    <td>{{ obj.address }}</td>#}
        {##}
        {#                    <td>{{ obj.postal_code }}</td>#}
        {#                    <td>{{ obj.phone_number }}</td>#}
        {#                    <td><a href="#">ویرایش</a></td>#}
        {#                <td> <button class="btn btn-light" id=delete_button" type="button">پاک کردن</button>#}
        {#                    </td>#}
        {#                </tr>#}
        {#            {% endfor %}#}
        {#            </tbody>#}
        {#        </table>#}
    </div>

    {#            <div class="row">#}
    {#            <div class="col">#}
    {#                <button class="btn btn-warning"> <a href="{% url 'download-tasks' %}"#}
    {#                                                    download="Task_list.json">download Tasks in json format</a></button>#}
    {#            </div >#}
    {#            </div >#}


    {#</div>#}

{% endblock content %}

